<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!-- kakao button -->
    <div class="text-center">
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=603b6f523013db5e0b8e02d2dfa39dc6&redirect_uri=http://localhost:8080/oauth2/kakao&response_type=code">
            <img src="/images/kakao_login_medium_narrow.png">
        </a>
    </div>

</body>
</html>
